body { 
    margin: 0;  
}

.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    height: 120px;
    background-color: aqua;
    margin: 0 auto;

}
.logo {
width: 148px;
height: 36.23px;
background-color: blue;
padding: 5px;
flex-basis: auto;
flex-grow: 0;
}
.nav {
color: #4F5665;
background-color: burlywood;
align-items: baseline;
flex-basis: auto;
width: auto;
flex-grow: 2;
}
.menu li {
    display: inline;
}

.button {
    background-color: chocolate;
    width: 250px;
    flex-grow: 1;
    }