body { 
    margin: 0; 
    font-family: 'Rubik'; 'Arial', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    width: 94%;
}

.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: auto;
    background-color: #44cfbd;
    margin: 0 auto;
}

.logo {
    width: 148px;
    height: 36px;
    background-color: #b086c9;
    padding: 10px;
    flex-grow: 0;
}

nav {
    color: #4F5665;
    background-color: #5dbe50;
    align-items: baseline;
    flex-grow: 2;
}

.menu li {
    display: inline-block;
}

.button {
    background-color: #d1e65f;
    width: 250px;
    flex-grow: 1;
    padding: 10px;
}

.hero__info {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 42px 1px 2px #f3f7f6;
    border-radius: 10px;
}

.hero__info li {
    flex-basis: 33%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

.hero__item-img {
    margin-right: 8px;
}

.hero__item-desc {
    margin: auto 0;
}


.hero__item-desc span {
    display: block;
}

.hero__item-number {
    font-weight: bold;
    color: #0B132A;
}

.hero__item-text {
    color: #4F5665;
}

.hero__vert-line {
    border-left:2px solid #e8e9ec;
    max-height: 50%;
} 
 
main {
    padding-top: 150px;
}